<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.talla.santhamarket">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.CityActivity"></activity>
        <activity android:name=".activities.LocalProductsActivity" />
        <activity android:name=".activities.CategoriesActivity" />
        <activity
            android:name=".activities.ReviewActivity"
            android:theme="@style/MaterialTheme" />
        <activity android:name=".activities.PaymentActivity" />
        <activity android:name=".activities.MultiCartActivity" />
        <activity android:name=".activities.LocalShopActivity" />
        <activity android:name=".activities.WebViewActivity" />
        <activity android:name=".activities.OrderSucessActivity" />
        <activity
            android:name=".activities.AddressBookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".activities.PoductDescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SearchProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DetailProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".activities.ViewProductsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".activities.OrderSummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FavouriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DetailOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".activities.OtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.AuthenticationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".fcm.FirebaseReceiveMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_bell" />

        <service
            android:name=".fcm.FirebaseTokenGneration"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.BackGroundService" />
    </application>

</manifest>